<%= paginate @events %>
<%= form_tag events_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>
<%= link_to 'Sort by Name', events_path( :order => "name") %>
<%= link_to 'Sort by Default', events_path %>
<ul>
<% @events.each do |event| %>
  <li>
    <%= link_to event.name, event_path(event) %>
    <%= link_to " (XML)", event_path(event, :format => :xml) %>
    <%= link_to " (JSON)", event_path(event, :format => :json) %>
    <%= link_to 'edit', edit_event_path(event) %>
    <%= button_to 'delete', event_path(event), :method => :delete, :data => { :confirm => "Are you sure?" } %>
    <%= link_to 'attendees', event_attendees_path(event) %>
    <%= link_to 'location', event_location_path(event) %>
    <%= button_to "Join", join_event_path(event) %>
    <%= button_to "Withdraw", withdraw_event_path(event) %>
  </li>
<% end %>
<%= form_tag bulk_update_events_path do %>

<ul>
  <% @events.each do |e| %>
    <li>
 	      <%= check_box_tag "ids[]", e.id, false %>
      <%= e.name %>
    </li>
  <% end %>
</ul>

<%= submit_tag "Delete" %>
<%= submit_tag "Publish" %>

<% end %>
</ul>
<%= link_to 'New Event', new_event_path %>
<%= link_to "Atom feed", events_path(:format => :atom) %>

<%= button_to "Delete All", bulk_delete_events_path, :method => :post %>