<p id="notice"><%= notice %></p>

<h1>Listing Johndata</h1>

<table>
  <thead>
    <tr>
      <th>What</th>
      <th>Is</th>
      <th>Your</th>
      <th>Name</th>
      <th>Bio</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @johndata.each do |johndatum| %>
      <tr>
        <td><%= johndatum.what %></td>
        <td><%= johndatum.is %></td>
        <td><%= johndatum.your %></td>
        <td><%= johndatum.name %></td>
        <td><%= johndatum.bio %></td>
        <td><%= johndatum.birthday %></td>
        <td><%= link_to 'Show', johndatum %></td>
        <td><%= link_to 'Edit', edit_johndatum_path(johndatum) %></td>
        <td><%= link_to 'Destroy', johndatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Johndatum', new_johndatum_path %>
