<p id="notice"><%= notice %></p>

<p>
  <strong>What:</strong>
  <%= @johndatum.what %>
</p>

<p>
  <strong>Is:</strong>
  <%= @johndatum.is %>
</p>

<p>
  <strong>Your:</strong>
  <%= @johndatum.your %>
</p>

<p>
  <strong>Name:</strong>
  <%= @johndatum.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @johndatum.bio %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @johndatum.birthday %>
</p>

<%= link_to 'Edit', edit_johndatum_path(@johndatum) %> |
<%= link_to 'Back', johndata_path %>
